<!-- templates/registration/login.html -->

{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div style="background-color: lightgrey; padding: 10px;">
<h3 style="color:red;"><center><font size="+2"><span style="font-weight:normal">Built by 200050032 200050038</span></font></h3>
<h1><center><font size="+10"><span style="font-weight:normal">Welcome to GitHub Profiles!</span></font></h1>
<center>
<button style="width: 130px; height: 40px; border-radius: 10px; background-color:DodgerBlue;" type="submit"><font size="+2"><a style="color:white; text-decoration:none" href="{% url 'signup' %}">Signup</a></font></button>
<span>&nbsp;&nbsp;&nbsp;</span>
<button style="width: 130px; height: 40px; border-radius: 10px; background-color:DodgerBlue;" type="submit"><font size="+2"><a style="color:white; text-decoration:none" href="{% url 'login' %}">Login</a></font></button>
</div>
<h1 style = "margin-left: 300px;"><font size="+4"><span style="font-weight:normal">Login to Github profile</span></font></h1>
<form style = "margin-left: 300px;" method="post">
  <font size="+2">
  {% csrf_token %}
  {{ form.as_p }}
  </font>
  <button style="width: 100px; height: 40px; border-radius: 10px; background-color:DodgerBlue; color:white;" type="submit"><font size="+2">Login</font></button>
</form>
{% endblock %}
